@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --custom-green: #002a25;
  --custom-gray: #B3B3B3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-custom-green: var(--custom-green);
  --color-custom-gray: var(--custom-gray);
  --font-sans: 'Nunito', sans-serif;
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Nunito', sans-serif;
}
